node_modules
dist
dist-ssr
.env
.env.local
.env.*.local
.vite
.DS_Store
*.local
.idea
.vscode
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
firebase-debug.log
.firebase
*.tsbuildinfo
vite.config.d.ts
vite.config.js
